<h4>Add docs</h4>
<%
if(messages.hide){
  body = messages.hide[0]
}
%>
<form action="/developer/add" method="post">
  <input type="submit" name="submit" value="Save">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">File Name:</label>
  <input type="text" name="filename" class="form-control" placeholder="File Name" value="<%=body.filename%>">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Content:</label>
  <textarea class="form-control" name="content"  rows="5" required><%=body.content%></textarea>
</div>
  <div>
    <input type="submit" name="submit" value="Save">
  </div>
</form>

