<div class="bd-content ps-lg-4">
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand"><h4>index</h4></a>
            <div class="d-flex">
                <a class="btn btn-outline-success" href="/developer/setting">setting</a>
            </div>
        </div>
    </nav>
<span><%=locals.testShow %></span>
        
</div>