<hr>
<h2>layout: docs
title: Clearfix
description: Quickly and easily clear floated content within a container by adding a clearfix utility.
group: helpers
aliases: &quot;/docs/5.2/helpers/&quot;</h2>
<p>Easily clear <code>float</code>s by adding <code>.clearfix</code> <strong>to the parent element</strong>. Can also be used as a mixin.</p>
<p>Use in HTML:</p>
<pre><code class="language-html">&lt;div class=&quot;clearfix&quot;&gt;...&lt;/div&gt;
</code></pre>
<p>The mixin source code:</p>
<p>{{&lt; scss-docs name=&quot;clearfix&quot; file=&quot;scss/mixins/_clearfix.scss&quot; &gt;}}</p>
<p>Use the mixin in SCSS:</p>
<pre><code class="language-scss">.element {
  @include clearfix;
}
</code></pre>
<p>The following example shows how the clearfix can be used. Without the clearfix the wrapping div would not span around the buttons which would cause a broken layout.</p>
<p>{{&lt; example &gt;}}
&lt;div class=&quot;bg-info clearfix&quot;&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-secondary float-start&quot;&gt;Example Button floated left&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-secondary float-end&quot;&gt;Example Button floated right&lt;/button&gt;
&lt;/div&gt;
{{&lt; /example &gt;}}</p>
