<hr>
<h2>layout: docs
title: Colored links
description: Colored links with hover states
group: helpers
toc: false</h2>
<p>You can use the <code>.link-*</code> classes to colorize links. Unlike the [<code>.text-*</code> classes]({{&lt; docsref &quot;/utilities/colors&quot; &gt;}}), these classes have a <code>:hover</code> and <code>:focus</code> state.</p>
<p>{{&lt; example &gt;}}
{{&lt; colored-links.inline &gt;}}
{{- range (index $.Site.Data &quot;theme-colors&quot;) }}
&lt;a href=&quot;#&quot; class=&quot;link-{{ .name }}&quot;&gt;{{ .name | title }} link&lt;/a&gt;
{{- end -}}
{{&lt; /colored-links.inline &gt;}}
{{&lt; /example &gt;}}</p>
<p>{{&lt; callout info &gt;}}
Some of the link styles use a relatively light foreground color, and should only be used on a dark background in order to have sufficient contrast.
{{&lt; /callout &gt;}}</p>
