<!DOCTYPE html>
<html>
  <head>
    <!-- meta(charset='utf-8')-->
    <!-- title: !=title-->
    <style>
      <!--include ./node_modules/primer-css/build/build.css-->/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

    </style>
  </head>
  <body>
    <div class="container">
      <div class="markdown-body"><hr>
<h2>layout: docs
title: Gutters
description: Gutters are the padding between your columns, used to responsively space and align content in the Bootstrap grid system.
group: layout
toc: true</h2>
<h2>How they work</h2>
<ul>
<li>
<p><strong>Gutters are the gaps between column content, created by horizontal <code>padding</code>.</strong> We set <code>padding-right</code> and <code>padding-left</code> on each column, and use negative <code>margin</code> to offset that at the start and end of each row to align content.</p>
</li>
<li>
<p><strong>Gutters start at <code>1.5rem</code> (<code>24px</code>) wide.</strong> This allows us to match our grid to the [padding and margin spacers]({{&lt; docsref &quot;/utilities/spacing&quot; &gt;}}) scale.</p>
</li>
<li>
<p><strong>Gutters can be responsively adjusted.</strong> Use breakpoint-specific gutter classes to modify horizontal gutters, vertical gutters, and all gutters.</p>
</li>
</ul>
<h2>Horizontal gutters</h2>
<p><code>.gx-*</code> classes can be used to control the horizontal gutter widths. The <code>.container</code> or <code>.container-fluid</code> parent may need to be adjusted if larger gutters are used too to avoid unwanted overflow, using a matching padding utility. For example, in the following example we've increased the padding with <code>.px-4</code>:</p>
<p>{{&lt; example &gt;}}
&lt;div class=&quot;container px-4 text-center&quot;&gt;
&lt;div class=&quot;row gx-5&quot;&gt;
&lt;div class=&quot;col&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Custom column padding&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;col&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Custom column padding&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
{{&lt; /example &gt;}}</p>
<p>An alternative solution is to add a wrapper around the <code>.row</code> with the <code>.overflow-hidden</code> class:</p>
<p>{{&lt; example &gt;}}
&lt;div class=&quot;container overflow-hidden text-center&quot;&gt;
&lt;div class=&quot;row gx-5&quot;&gt;
&lt;div class=&quot;col&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Custom column padding&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;col&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Custom column padding&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
{{&lt; /example &gt;}}</p>
<h2>Vertical gutters</h2>
<p><code>.gy-*</code> classes can be used to control the vertical gutter widths. Like the horizontal gutters, the vertical gutters can cause some overflow below the <code>.row</code> at the end of a page. If this occurs, you add a wrapper around <code>.row</code> with the <code>.overflow-hidden</code> class:</p>
<p>{{&lt; example &gt;}}
&lt;div class=&quot;container overflow-hidden text-center&quot;&gt;
&lt;div class=&quot;row gy-5&quot;&gt;
&lt;div class=&quot;col-6&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Custom column padding&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;col-6&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Custom column padding&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;col-6&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Custom column padding&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;col-6&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Custom column padding&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
{{&lt; /example &gt;}}</p>
<h2>Horizontal &amp; vertical gutters</h2>
<p><code>.g-*</code> classes can be used to control the horizontal gutter widths, for the following example we use a smaller gutter width, so there won't be a need to add the <code>.overflow-hidden</code> wrapper class.</p>
<p>{{&lt; example &gt;}}
&lt;div class=&quot;container text-center&quot;&gt;
&lt;div class=&quot;row g-2&quot;&gt;
&lt;div class=&quot;col-6&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Custom column padding&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;col-6&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Custom column padding&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;col-6&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Custom column padding&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;col-6&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Custom column padding&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
{{&lt; /example &gt;}}</p>
<h2>Row columns gutters</h2>
<p>Gutter classes can also be added to [row columns]({{&lt; docsref &quot;/layout/grid#row-columns&quot; &gt;}}). In the following example, we use responsive row columns and responsive gutter classes.</p>
<p>{{&lt; example &gt;}}
&lt;div class=&quot;container text-center&quot;&gt;
&lt;div class=&quot;row row-cols-2 row-cols-lg-5 g-2 g-lg-3&quot;&gt;
&lt;div class=&quot;col&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Row column&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;col&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Row column&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;col&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Row column&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;col&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Row column&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;col&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Row column&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;col&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Row column&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;col&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Row column&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;col&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Row column&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;col&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Row column&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;col&quot;&gt;
&lt;div class=&quot;p-3 border bg-light&quot;&gt;Row column&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
{{&lt; /example &gt;}}</p>
<h2>No gutters</h2>
<p>The gutters between columns in our predefined grid classes can be removed with <code>.g-0</code>. This removes the negative <code>margin</code>s from <code>.row</code> and the horizontal <code>padding</code> from all immediate children columns.</p>
<p><strong>Need an edge-to-edge design?</strong> Drop the parent <code>.container</code> or <code>.container-fluid</code> and add <code>.mx-0</code> to the <code>.row</code> to prevent overflow.</p>
<p>In practice, here's how it looks. Note you can continue to use this with all other predefined grid classes (including column widths, responsive tiers, reorders, and more).</p>
<p>{{&lt; example class=&quot;bd-example-row&quot; &gt;}}
&lt;div class=&quot;row g-0 text-center&quot;&gt;
&lt;div class=&quot;col-sm-6 col-md-8&quot;&gt;.col-sm-6 .col-md-8&lt;/div&gt;
&lt;div class=&quot;col-6 col-md-4&quot;&gt;.col-6 .col-md-4&lt;/div&gt;
&lt;/div&gt;
{{&lt; /example &gt;}}</p>
<h2>Change the gutters</h2>
<p>Classes are built from the <code>$gutters</code> Sass map which is inherited from the <code>$spacers</code> Sass map.</p>
<pre><code class="hljs scss"><span class="hljs-variable">$grid-gutter-width</span>: <span class="hljs-number">1.5rem</span>;
<span class="hljs-variable">$gutters</span>: (
  <span class="hljs-number">0</span>: <span class="hljs-number">0</span>,
  <span class="hljs-number">1</span>: <span class="hljs-variable">$spacer</span> * .<span class="hljs-number">25</span>,
  <span class="hljs-number">2</span>: <span class="hljs-variable">$spacer</span> * .<span class="hljs-number">5</span>,
  <span class="hljs-number">3</span>: <span class="hljs-variable">$spacer</span>,
  <span class="hljs-number">4</span>: <span class="hljs-variable">$spacer</span> * <span class="hljs-number">1.5</span>,
  <span class="hljs-number">5</span>: <span class="hljs-variable">$spacer</span> * <span class="hljs-number">3</span>,
);
</code></pre>

      </div>
    </div>
  </body>
</html>